In [1]:
from sklearn.tree import DecisionTreeClassifier
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score
import pandas as pd

In [2]:
train_data = pd.read_csv("./titanic/train.csv")
test_data = pd.read_csv("./titanic/test.csv")

In [3]:
train_data.head(10)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
5,6,0,3,"Moran, Mr. James",male,NaN,0,0,330877,8.4583,NaN,Q
6,7,0,1,"McCarthy, Mr. Timothy J",male,54.0,0,0,17463,51.8625,E46,S
7,8,0,3,"Palsson, Master. Gosta Leonard",male,2.0,3,1,349909,21.0750,NaN,S
8,9,1,3,"Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)",female,27.0,0,2,347742,11.1333,NaN,S
9,10,1,2,"Nasser, Mrs. Nicholas (Adele Achem)",female,14.0,1,0,237736,30.0708,NaN,C

In [4]:
train_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB

In [5]:
train_data.isnull().sum()

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64

In [6]:
test_data.isnull().sum()

PassengerId      0
Pclass           0
Name             0
Sex              0
Age             86
SibSp            0
Parch            0
Ticket           0
Fare             1
Cabin          327
Embarked         0
dtype: int64

### Muitos valores da idade estão faltando, preciso:
    - Remover a coluna.
    - Colocar algum valor lá (minha escolha).
        - Já que a idade na hora de salvar foi importante (Crinaças foram salvas).

In [7]:
newAges = train_data["Age"].median() # Pego a mediana das idades (Não a média).

def adicionar_idade(row):
    if pd.isnull(row["Age"]):
        return newAges
    else:
        return row["Age"]

train_data['Age'] = train_data.apply(adicionar_idade, axis = 1)

In [8]:
newAges = test_data["Age"].median() # Pego a mediana das idades (Não a média).

def adicionar_idade(row):
    if pd.isnull(row["Age"]):
        return newAges
    else:
        return row["Age"]

test_data['Age'] = test_data.apply(adicionar_idade, axis = 1)

In [9]:
train_data.isnull().sum()

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age              0
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64

In [10]:
test_data.isnull().sum()

PassengerId      0
Pclass           0
Name             0
Sex              0
Age              0
SibSp            0
Parch            0
Ticket           0
Fare             1
Cabin          327
Embarked         0
dtype: int64

### Será que a cabine que a pessoa estava tem relação com sua sobrevivência?

In [11]:
cabin_survival = train_data.groupby("Cabin")["Survived"].mean()
print(cabin_survival)
# Percebemos que dependendo da Cabine a pessoa tem mais chances de sobreviver, algumas 100%, outras 0%...

Cabin
A10    0.0
A14    0.0
A16    1.0
A19    0.0
A20    1.0
      ...
F33    1.0
F38    0.0
F4     1.0
G6     0.5
T      0.0
Name: Survived, Length: 147, dtype: float64

In [12]:
train_data['Cabin'].fillna('-', inplace=True) # Preenchendo valores nulos com -
train_data['Cabin'] = train_data['Cabin'].apply(lambda x: ord(x[0].lower())) # Pegando a primeira letra e convertendo para inteiro

test_data['Cabin'].fillna('-', inplace=True) # Preenchendo valores nulos com -
test_data['Cabin'] = test_data['Cabin'].apply(lambda x: ord(x[0].lower())) # Pegando a primeira letra e convertendo para inteiro

train_data['Cabin']

0      45
1      99
2      45
3      99
4      45
       ..
886    45
887    98
888    45
889    99
890    45
Name: Cabin, Length: 891, dtype: int64

In [13]:
train_data.isnull().sum()

PassengerId    0
Survived       0
Pclass         0
Name           0
Sex            0
Age            0
SibSp          0
Parch          0
Ticket         0
Fare           0
Cabin          0
Embarked       2
dtype: int64

In [14]:
test_data.isnull().sum()

PassengerId    0
Pclass         0
Name           0
Sex            0
Age            0
SibSp          0
Parch          0
Ticket         0
Fare           1
Cabin          0
Embarked       0
dtype: int64

### Lidando com o último atributo faltante (Fare)

In [15]:
fare_median = test_data["Fare"].median()
test_data["Fare"].fillna(fare_median, inplace=True) # Preenchendo valores nulos com a mediana

test_data.isnull().sum()

PassengerId    0
Pclass         0
Name           0
Sex            0
Age            0
SibSp          0
Parch          0
Ticket         0
Fare           0
Cabin          0
Embarked       0
dtype: int64

### Será que o porto de embarque tem relação com sua sobrevivência?

In [16]:
embarked_survival = train_data.groupby("Embarked")["Survived"].mean()
print(embarked_survival)
# Percebemos que embora quem estava no porto C teve mais change de sobreviver, as % são bem parecidas, logo, é possível remover a coluna Embarked

Embarked
C    0.553571
Q    0.389610
S    0.336957
Name: Survived, dtype: float64

In [17]:
train_data.drop(["Embarked"], axis='columns', inplace=True)
test_data.drop(["Embarked"], axis='columns', inplace=True)
train_data.head(10)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,45
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,99
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,45
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,99
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,45
5,6,0,3,"Moran, Mr. James",male,28.0,0,0,330877,8.4583,45
6,7,0,1,"McCarthy, Mr. Timothy J",male,54.0,0,0,17463,51.8625,101
7,8,0,3,"Palsson, Master. Gosta Leonard",male,2.0,3,1,349909,21.0750,45
8,9,1,3,"Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)",female,27.0,0,2,347742,11.1333,45
9,10,1,2,"Nasser, Mrs. Nicholas (Adele Achem)",female,14.0,1,0,237736,30.0708,45

### Convertendo atributos categóricos para numéricos

In [18]:
train_data["Sex"] = train_data["Sex"].map({"male": 0, "female": 1})
test_data["Sex"] = test_data["Sex"].map({"male": 0, "female": 1})

### Treinando o Classificador

##### Treinando um árvore de decisão com profundidade máxima de tamanho 5

In [19]:
# Apagando colunas inúteis para a análise (Colunas como nome e Ticket, além de Survived já que é usada no y_train)
X = train_data.drop(['Survived', 'Name', 'Ticket','PassengerId'], axis=1)
# Pegando o y
y = train_data['Survived']
# Dividindo dados de treino em Treino e Validação
X_train, X_validation, y_train, y_validation = train_test_split(X, y, test_size=0.2, stratify=y, random_state=42)

# Treinando o modelo
dt = DecisionTreeClassifier(max_depth=5, random_state=42)
dt.fit(X_train, y_train)

DecisionTreeClassifier(max_depth=5, random_state=42)

### Testando com dados de validação

- Canculando acurácia

In [20]:
y_pred = dt.predict(X_validation)
accuracy_score(y_validation, y_pred)

0.7541899441340782

### Realizando a predição

In [21]:
# Apagando colunas inúteis para a análise (Colunas como nome e Ticket, além de Survived já que é usada no y_test)
X_test = test_data.drop(['Name', 'Ticket','PassengerId'], axis=1)

y_pred = dt.predict(X_test)
to_submit = pd.concat([test_data.PassengerId, pd.DataFrame({"Survived": y_pred})], axis=1)

to_submit

     PassengerId  Survived
0            892         0
1            893         0
2            894         0
3            895         0
4            896         0
..           ...       ...
413         1305         0
414         1306         1
415         1307         0
416         1308         0
417         1309         0

[418 rows x 2 columns]

### Exportando para fazer a predição no site

In [22]:
to_submit.to_csv("output.csv", index = False)